.css-1wuilmg-MuiAutocomplete-root{
    margin: "0 30px";
}
.css-1wuilmg-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 3px;
}
.css-wb57ya-MuiFormControl-root-MuiTextField-root {
  background-color: white;
  border-radius: 5px;
  margin: 0 30px;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  line-height: 0.8rem;
}
